
* {
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    background-color: #e7e7e7;
    color: #191919;
}

.content {
    margin: auto;
}

.content h2 {
    font-family: Georgia;
    margin: 6%;
    color: #0c519a;
}

.content p {
    font-family: Arial;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    font-size: 16px;
    line-height: 28px;
}

.content a {
    color: #0c519a;
}

.content img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    display: block;
}

.navbar ul {
    list-style-type: none;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
}

.navbar li:last-child {
    display: none;
    text-align: center;
    padding: 14px 16px;
    color: #333;
    float: right;
}

.navbar {
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: Georgia;
}

/*Desktop and Tablet*/
@media only screen and (min-width: 768px) {

    /*Content*/
    .content {
        /*position: absolute;*/
        width: 50%;
        margin: auto;
        /*border-style: solid;
        border-color: black;*/
    }

    .content img {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        display: block;
    }

    .content h2 {
        font-family: Georgia;
        margin: 24px;
        color: #0c519a;
    }

    .content p {
        font-family: Arial;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 28px;
    }


    /* Navigation Bar*/
    .navbar {
        position: relative;
        overflow: hidden;
        width: 100%;
        font-family: Georgia;
    }

    .navbar ul {
        list-style-type: none;
    }
      
    .navbar li {
        float: left;
    }

    .navbar li:last-child {
        display: block;
        text-align: center;
        padding: 14px 16px;
        color: #333;
        float: right;
    }

    .navbar li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #333;
    }

    .navbar li a:hover {
        background-color: #ccc;
        color: #0c519a;
    }
}